# Base de données
DB_HOST=db
DB_PORT=3306
DB_NAME=cyna_db
DB_USER=cyna_user
DB_PASS=cyna_pass

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Gmail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM=votre@gmail.com
SMTP_FROM_NAME=CYNA Security
