<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="CYNA Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="docs/coverage"/>
        </report>
    </coverage>

</phpunit>
